.aboutSection{
    padding: 4rem 3rem;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.left{
    width: 500px;
    height: 500px;
    box-shadow: 0px 10px 10px rgb(23, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5rem;
    transition: all 0.3s ease;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    
}
.left img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
}
.left:hover{
    transform: scale(1.1);
}

.right{
    width: 40rem;
    /* border: 2px solid black; */
    padding: 4rem 5rem;
}
.head{
    display: inline-block;
    font-size: 25px;
    color: rgb(47, 46, 46);
    text-transform: capitalize;
    position: relative;
    padding: 3px 0;
}
.head::after{
    content: "";
    width: 50%;
    height: 5px;
    background-color: rgb(26, 170, 170);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}


.para{
    font-size: 18px;
    color: rgb(49, 47, 47);
    padding: 20px 10px;
}


/* ==================================
                             education section 
                                    ======================================== */

.sections{
    width: 100vw;
    padding: 4rem 7rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    gap: 20px;
}
.box{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin-top: 2rem;
    background-color: rgb(29, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    transition: all 0.8s ease;
}
.box:hover{
    transform: rotateX(360deg);
}
.boxHead{
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    color: white;
    text-transform: capitalize;
}
.boxpara{
    padding: 0px 2rem;
    font-size: 16px;
    color: rgb(241, 234, 234);
}

.skillcontainer{
    border-radius: 20px;
    margin-top: 2rem;
    padding: 1rem 5rem;
    background: url("/images/skill-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
.skillName{
    font-size: 20px;
    padding: 10px 0px;
    color: white;
}

@media only screen and (max-width:999px){

    
}