*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    overflow-x: hidden;
}
.main-header{
    width: 100vw;
    padding: 10px 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    display: flex;
    align-items: center;
}
i{
    font-size: 30px;
    color: rgb(83, 79, 79);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.head-para{
    display: flex;
    align-items: center;
}
.folio{
    color: brown;
}
h2{
    margin-left: 5px;
}
.menu{
    display: none;
}
.main-nav{
    width: 100vw;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 83, 44);
}
.navbar{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-links{
    padding: 10px 16px;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.nav-links:hover,
.nav-links:focus{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    border-radius: 50%;
    transform: scale(1.5);
}
.mainSection{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

/* ========================================
                                        footer section  
                                        ==============================================*/
.footer{
    width: 100vw;
    padding: 2rem 10rem;
    background: #201f33;
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1{
    font-size: 25px;
    color: white;
    padding: 10px 0;
    text-transform: capitalize;
}
.footerContainer ul li{
    list-style: square;
    font-size: 20px;
    color: white;
}
.footerContainer ul li a{
    color: rgb(241, 233, 233);
    font-size: 16px;
    padding: 5px 10px;
    text-transform: capitalize;
}
.footer-para{
    display: flex;
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    align-items: center;
}
.footerLink{
    color: white;
    font-size: 40px;
    padding: 5px 10px;
}
.footerBottom{
    width: 100vw;
    margin: 3rem 1rem;
    display: inline-block;
    text-align: center;
    color: white;
    position: relative;
    padding-top: 2rem;
}
.footerBottom::after{
    content: "";
    width: 60%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}
@media only screen and (max-width:999px) {
    p{
        margin-top: 10px;
    }
    .main-nav{
        padding: 2rem 0;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: 999;
        display: none;
    }
    .navbar{
        flex-direction: column;
        
    }
  
    .menu{
        float: right;
        margin:0rem 2rem .5rem 2rem;
        display: inline-block;
        border: 2px solid black;
        padding: 5px 8px;
        margin-bottom: 2rem;
        font-size: 40px;
        cursor: pointer; 
    }
   
}

@media only screen and (max-width:600px) {
   
}